body {
    background-color:rgb(255, 235, 208);
}

.calculator-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 520px;
    width: 340px;

    border: 3px solid black;
    border-radius: 20px;
    background-color:rgb(100, 113, 136);
}

.display {
    text-align: right;
    margin: 20px 20px;
    padding: 20px 10px 5px 10px;
    height: 80px;
    background-color:rgb(230, 230, 230);
    border-radius: 10px;
    overflow: hidden;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 0.08em;
}

.buttons-container {
    display: grid;
    place-items: center;
    margin: 20px;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
}

button {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 50px;
    width: 90px;
    border-style: none;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
}

#misc {
    font-size: 25px;
    background-color: rgb(255, 170, 80);
}

button:active {
    transform: scale(1.1);
}