.calculator-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.display {
    text-align: right;
    margin-right: 5px;
    height: 60px;
}

span {
    font-size: 40px;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

button {
    font-size: 35px;
    height: 80px;
    width: 110px;
}